@page "/"

@inject ILoomianSetsService LoomianSetsService;

<PageTitle>Charwiki</PageTitle>

<div class="container-fluid mb-3">
    <div class="row row-gap-3">
        @foreach (var currentSet in LoomianSets)
        {
            <div class="col-sm-12 col-md-6 col-lg-4">
                <SetCard Set="@currentSet" />
            </div>
        }
    </div>
</div>

@code {
    private IEnumerable<LoomianSet> LoomianSets { get; set; } = new List<LoomianSet>();


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            LoomianSets = await LoomianSetsService.GetAllAsync();
            LoomianSets = LoomianSets.OrderByDescending(x => x.GetAverageStarRating());
            LoomianSets = LoomianSets.Where(x => x.Approved);
            StateHasChanged();
        }
    }
}
