@page "/"

<PageTitle>Charwiki</PageTitle>

<div class="container-fluid mb-3">
    <div class="row row-gap-3">
        @foreach (LoomianSetResponseDto currentSet in LoomianSets)
        {
            <div class="col-sm-12 col-md-6 col-lg-4">
                <SetCard Set="@currentSet" />
            </div>
        }
    </div>
</div>
