@page "/"

<PageTitle>Charwiki</PageTitle>

<div class="container-fluid">
    <div class="row row-gap-3">
        @for (int i = 0; i < 5; i++)
        {
            <div class="col-sm-12 col-md-6 col-lg-4">
                <SetCard />
            </div>
        }
    </div>
</div>