@page "/login"

<h1>Access</h1>


<ul class="nav nav-tabs mb-3">
    <li class="nav-item">
        <a class="nav-link @(ActiveTab == "Login" ? "active" : "")" @onclick='() => SwitchTab("Login")'>Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(ActiveTab == "Register" ? "active" : "")" @onclick='() => SwitchTab("Register")'>Create account</a>
    </li>
</ul>

@if (ActiveTab == "Login")
{
    <h2>Login</h2>
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" @bind="Username" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" @bind="Password" required>
    </div>
    <p class="text-danger">@ErrorMessage</p>
    <button class="btn btn-primary" @onclick="HandleLoginAsync">Login</button>
}
else
{
    <h2>Create account</h2>
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" @bind="Username" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" @bind="Password" required>
    </div>
    <p class="text-danger">@ErrorMessage</p>
    <button class="btn btn-primary" @onclick="HandleRegisterAsync">Create account</button>
}
