<div class="card" style="width: 30rem; height: 11rem; overflow: hidden;">
    <div class="row no-gutters align-items-center h-100">
        <div class="col-md-4 d-flex justify-content-center">
            <img src="https://via.placeholder.com/150" class="card-img" alt="Card image" style="margin-left: 30px;">
        </div>
        <div class="col-md-8 d-flex flex-column justify-content-center">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Offensive Chartiki</h5>
                <p class="card-text text-truncate-2">Some brief description of the set. If it is too long, it will get truncated. An example is this text</p>
                <div class="mt-auto d-flex justify-content-end">
                    <a href="#" class="btn btn-primary">See now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
.text-truncate-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
</style>