@inherits LayoutComponentBase

<style>
    .notification-banner {
    background-color: #ffcc00;
    color: #000;
    text-align: center;
    padding: 10px;
    top: 0;
    width: 100%;
    z-index: 1000;
}
</style>

<div class="notification-banner">
    This website is a testing environment. Things may break, be slow or unstable. All data here is mock data.
</div>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-3">
            <a class="btn btn-outline-dark" href="https://github.com/je-sendra/Charwiki">
                <i class="bi bi-github"></i>
                <span>GitHub</span>
            </a>

            <a class="btn btn-outline-primary" href="#">
                <i class="bi bi-heart"></i>
                <span>Contribute</span>
            </a>

            <a class="btn btn-outline-success" href="login">
                <i class="bi bi-person"></i>
                <span>Login</span>
            </a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
