@inherits LayoutComponentBase

<style>
    .notification-banner {
    background-color: #ffcc00;
    color: #000;
    text-align: center;
    padding: 10px;
    top: 0;
    width: 100%;
    z-index: 1000;
}
</style>

<div class="notification-banner" style="display: none;">
    This website is a testing environment. Things may break, be slow or unstable. All data here is mock data.
</div>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-3">
            <TopButtons></TopButtons>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
