@rendermode InteractiveServer

<a class="btn btn-outline-dark" href="https://github.com/je-sendra/Charwiki">
    <i class="bi bi-github"></i>
    <span>GitHub</span>
</a>

<a class="btn btn-outline-primary" href="#" style="display: none;">
    <i class="bi bi-heart"></i>
    <span>Contribute</span>
</a>

<a class="btn btn-outline-success" href="login" style="display: none;">
    <i class="bi bi-person"></i>
    <span>Access</span>
</a>